.bg {
    background-color: #1c1c1c;
}

.header {
    background-color: #6193C2;
}

.headerLogo {
    font-size: 40px;
    font-family: cardo;
}

.text {
    color: white;
    font-size: 30px;
    text-align: justify;
}

.blueText {
    color: #6193C2;
    font-size: 40px;
    text-align: left;
}

.grid {
    height: 600px;
}

.tbg {
    background: black;
}

.title {
    text-align: center;
    color: #6193C2;
    font-size: 75px;
}

.logoi {
    display: block;
    margin: auto;
}

.largeText {
    color: #6193C2;
    font-size: 30px;
    text-align: left;
}

.textLight {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.create {
    color: white;
}

.headerButtons {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.inlineBox {
    display: inline;
}

#showOverlayBtn {
    display: inline;
}

.imagePost {
    padding: 10px;
}

/* Overlay container */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overlay content */
.overlay-content {
    position: relative; /* Relative to position the close button inside this container */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px; /* Adjust to move vertically */
    right: 10px; /* Adjust to move horizontally */
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Color for the close button */
}

.close-btn:hover {
    color: #000; /* Change color on hover */
}
