.bg {
    background-color: #1c1c1c;
}

.header {
    background-color: #6193C2;
}

.headerLogo {
    font-size: 40px;
    font-family: cardo;
}

.text {
    color: white;
    font-size: 30px;
    text-align: justify;
}

.blueText {
    color: #6193C2;
    font-size: 40px;
    text-align: left;
}

.grid {
    height: 600px;
}

.tbg {
    background: black;
}

.title {
    text-align: center;
    color: #6193C2;
    font-size: 75px;
}

.logoi {
    display: block;
    margin: auto;
}

.largeText {
    color: #6193C2;
    font-size: 30px;
    text-align: left;
}

.textLight {
    color: white;
    font-size: 20px;
    text-align: justify;
}

.create {
    color: white;
}

.headerButtons {
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
}

.inlineBox {
    display: inline;
}

#showOverlayBtn {
    display: inline;
}

.imagePost {
    padding: 10px;
}

/* Overlay container */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Overlay content */
.overlay-content {
    position: relative; /* Relative to position the close button inside this container */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    padding: 30px;
}

/* Close button */
.close-btn {
    position: absolute;
    top: 10px; /* Adjust to move vertically */
    right: 10px; /* Adjust to move horizontally */
    font-size: 24px;
    cursor: pointer;
    color: #333; /* Color for the close button */
}

.close-btn:hover {
    color: #000; /* Change color on hover */
}


.poolCheckContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.poolCheckContainer input[type="checkbox"] {
    display: block;
    margin-right: 10px;
}

.poolCheckContainer input[type="text"] {
    visibility: hidden;
    margin-left: 10px;
    width: 110px;
}

.poolCheckContainer input[type="checkbox"]:checked ~ input[type="text"] {
    visibility: visible;
}

.roomServiceContainer {
    display: block;
    margin-right: 10px;
    text-align: left;
}

.comments-area {
    width: 120%;
    max-width: 100%;
    min-height: 200px;
    height: 200px;
    word-wrap: break-word;
    resize: vertical; /* Allows users to resize the textarea vertically only */
    overflow-wrap: break-word;
  }

  #overlayData {
    text-align: left;
  }

  
  .carousel-item img {
    height: 250px; /* Set your desired height here */
    object-fit: cover; /* This ensures the image covers the area while maintaining aspect ratio */
    width: 100%;
}

.postDetails {
    font-size: large;
    padding-top: 10px;
    padding-bottom: 10px;
}

.postImage {
    width: 100%;
    height: fit-content;
    object-fit: cover;
    image-rendering: auto;          
    -moz-osx-font-smoothing: grayscale;
}

.post-details-container {
    border: 2px solid #ffffff; /* Blue border color */
    border-radius: 10px; /* Rounded corners */
    padding: 15px; /* Add some padding inside the div */
    margin-top: 20px; /* Add some space above the div */
    background-color: #1c1c1c;
}

.checkout-box {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.post-details-container {
    border: 1px solid #ddd;
    border-radius: 8px;
}
